body {
    background: #DDF;
}

#calendar {
    width: 100%;
    background: #F0F0F0;
}

.calendar-dayofweek {
    font-size: 14px;
    font-family: Roboto Slab;
}

#calendar-header {
    display: flex;

    background: purple;
    padding: 4px 12px;;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    height: 40px;
    font-family: Fredoka;
    font-size: 28px;
    font-weight: 500;
    box-shadow: 0 2px 2px 0px purple;
}

#calendar-header-left {
    width: 20px;
}

#calendar-header-right {
    width: 20px;
}

#calendar-header-current {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-top: 10px;

    row-gap: 8px;
    column-gap: 8px;
}

.calendar-grid-date {
    background-color: blue;
    width: 100%;
    flex: 1;
    aspect-ratio: 1;
    text-align: center;
    border-radius: 6px;
    background-image: linear-gradient(180deg, #FFF3, #FFF0);
    border: 1px solid #55F;
    box-shadow: #FFF2 0 1px 0 inset, #4480 0 1px 1px;
    box-sizing: border-box;
    color: #FFF;
    font-family: Fredoka;
    font-weight: 500;
    font-size: 8cqw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-completed {
    background-color: green;
}

.cell-noparse {
    opacity: 0.8;
    background-color: #202;
    color: #444;
}

.cell-nosource {
    opacity: 0.8;
    background-color: #F00;
    color: #444;
}

.cell-noentry {
    opacity: 0.8;
    background-color: #888;
    color: #444;
}

.cell-noday {
    opacity: 0.3;
    background-color: #444;
    color: #444;
}

.calendar-grid-date.disabled {
    background-image: none;
    box-shadow: none;
    opacity: 0.25;
    font-weight: 200;
}
